---
import { BASE_URL, SITE_DESCRIPTION, SITE_TITLE } from '../consts';
import BaseLayout from 'src/layouts/BaseLayout.astro';

const title = 'Explorando el Mundo Digital: Programación y Marketing en Shan.lat';

const categories = [
	{
		slug: 'programacion',
		data: {
			title: 'Programación',
			heroImage: '/blog-placeholder-2.jpg',
		},
	},
	{
		slug: 'marketing',
		data: {
			title: 'Marketing',
			heroImage: '/blog-placeholder-3.jpg',
		},
	},
]
---

<BaseLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
	<main>
		<div>
			<h1>{title}</h1>
			<p>{SITE_DESCRIPTION}</p>
		</div>
		<section>
			<ul>
				{
					categories.map((post) => (
						<li>
							<a href={`${BASE_URL}/${post.slug}/`}>
								<img width={720} height={360} src={`${BASE_URL}${post.data.heroImage}`} alt="" />
								<h4 class="title">{post.data.title}</h4>
							</a>
						</li>
					))
				}
			</ul>
		</section>
	</main>
</BaseLayout>
<style>
	main {
		width: 960px;
	}
	ul {
		display: flex;
		flex-wrap: wrap;
		gap: 2rem;
		list-style-type: none;
		margin: 0;
		padding: 0;
	}
	ul li {
		width: calc(50% - 1rem);
	}
	ul li * {
		text-decoration: none;
		transition: 0.2s ease;
	}
	ul li img {
		margin-bottom: 0.5rem;
		border-radius: 12px;
	}
	ul li a {
		display: block;
	}
	.title {
		margin: 0;
		color: rgb(var(--black));
		line-height: 1;
	}
	ul li a:hover h4,
	ul li a:hover .date {
		color: rgb(var(--accent));
	}
	ul a:hover img {
		box-shadow: var(--box-shadow);
	}
	@media (max-width: 720px) {
		ul {
			gap: 0.5em;
		}
		ul li {
			width: 100%;
			text-align: center;
		}
	}
</style>
