---
import { BASE_URL } from "@src/consts.js";
import * as content from "@content/pages/content.md";
import BaseLayout from "@layouts/BaseLayout.astro";
import LinkButton from "@components/LinkButton.astro";
import categories from "./categories";
import IlustratedText from "@components/IlustratedText.astro";

const categoriesArray = Object.entries(categories);
const { title, subtitle, infoTitle, description } = content.frontmatter;
const PageContent = await content.default;
---

<BaseLayout title={`${title}: ${subtitle}`} description={description}>
	<main>
		<div>
			<h1>
				{title}
				<span class="subtitle">{subtitle}</span>
			</h1>
		</div>
		<section>
			<ul>
				{
					categoriesArray.map((category) => (
						<li>
							<img
								width={720}
								height={360}
								src={`${BASE_URL}${category[1].image}`}
								alt=""
							/>
							<div class="text">
								<h2 class="category-title">{category[1].title}</h2>
								<p>{category[1].description}</p>
								<LinkButton
									href={`${BASE_URL}/${category[0]}/`}
									text="Ver artículos"
								/>
							</div>
						</li>
					))
				}
			</ul>
		</section>
		<IlustratedText title={infoTitle}>
			<PageContent />
		</IlustratedText>
	</main>
</BaseLayout>
<style>
	ul {
		list-style: none;
		padding: 0;
	}

	li {
		margin: calc(2 * var(--space)) 0;
		mix-blend-mode: multiply;
	}

	img {
		margin: 0 auto;
		max-height: calc(12 * var(--space));
		width: auto;
	}

	h2 {
		margin-top: 0;
	}

	.text {
		background-image: linear-gradient(
			to bottom,
			transparent,
			var(--lighter-background) calc(6 * var(--space))
		);
		margin: calc(-6 * var(--space)) auto 0;
		padding-top: calc(4 * var(--space));
		position: relative;
	}

	@media screen and (min-width: 1023px) {
		ul {
			display: grid;
			gap: var(--space);
			grid-template-columns: repeat(2, 1fr);
			margin: 0 auto;
			max-width: 1390px;
		}

		li {
			border-radius: var(--space);
			box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
			padding: var(--space) 0;
		}

		.text {
			p {
				min-height: calc(6 * var(--space));
			}
		}
	}
</style>
