---
const { eyebrow, title, subtitle, image, alt } = Astro.props;
---

<div class="container">
	<img src={image} alt={alt} />
	<h1>
		{eyebrow ? <span class="eyebrow">{eyebrow}</span> : ""}
		{title}
		{subtitle ? <span class="subtitle">{subtitle}</span> : ""}
	</h1>
</div>
<style>
	div {
		margin: var(--space) auto var(--space);
		mix-blend-mode: multiply;
	}

	img {
		margin: 0 auto;
		max-height: calc(9 * var(--space));
		opacity: 1;
		border-radius: calc(2 * var(--space));
	}

	h1 {
		background-image: linear-gradient(
			to top,
			var(--lighter-background),
			transparent
		);
		isolation: isolate;
		margin: calc(-9 * var(--space)) auto 0;
		padding: calc(7 * var(--space)) 0 calc(1 * var(--space));
	}

	@media screen and (min-width: 1000px) {
		div {
			height: calc(10 * var(--space));
			margin: calc(2 * var(--space)) auto;
			position: relative;
		}

		h1 {
			background-image: linear-gradient(
				to left,
				transparent,
				var(--lighter-background) 350px
			);
			margin: 0;
			padding: calc(3.5 * var(--space)) calc(10 * var(--space))
				calc(3.5 * var(--space)) 0;
			text-align: left;
			width: 100%;
		}

		img {
			position: absolute;
			right: 0;
			top: 50%;
			transform: translateY(-50%);
		}
	}
</style>
