---
import { BASE_URL } from '../../consts.js';
import { getCollection } from 'astro:content';
import FormattedDate from '@components/FormattedDate.astro';
import Hero from '@components/Hero.astro';
import BaseLayout from '@layouts/BaseLayout.astro';
import { description, blogKeyword, blogPath } from './consts';

const devPosts = (await getCollection('marketing')).sort(
	(a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---

<BaseLayout title={blogKeyword} description={description} blogPath={blogPath} headerText={blogKeyword}>
	<main>
		<Hero title={blogKeyword} />
		<section>
			<h2>Últimos artículos de {blogKeyword}</h2>
			<ul>
				{
					devPosts.map((post) => (
						<li>
							<a href={`${BASE_URL}${blogPath}/${post.slug}/`}>
								<img width={720} height={360} src={`${BASE_URL}${post.data.heroImage}`} alt="" />
								<h4 class="title">{post.data.title}</h4>
								<p class="date">
									<FormattedDate date={post.data.pubDate} />
								</p>
								<p class="description">
									{post.data.description}
								</p>
							</a>
						</li>
					))
				}
			</ul>
		</section>
		<section>
			<h2>¡Bienvenido a Marketing Digital!</h2>
			<p>Explora el emocionante mundo del marketing digital con nosotros. En nuestro espacio dedicado a la innovación empresarial y las últimas tendencias en línea, te invitamos a descubrir estrategias probadas, consejos prácticos y conocimientos profundos que te ayudarán a alcanzar tus objetivos comerciales en la era digital.</p>
			<p>Sumérgete en una amplia gama de temas, desde SEO y SEM hasta redes sociales, marketing de contenido, automatización de marketing y más. Nuestro equipo de expertos está aquí para brindarte la orientación que necesitas para destacarte en un mercado cada vez más competitivo.</p>
			<p>Ya sea que estés buscando aumentar la visibilidad de tu marca, mejorar la participación de tus clientes o maximizar tus conversiones en línea, encontrarás recursos valiosos y perspectivas perspicaces que te inspirarán y te capacitarán para alcanzar el éxito en tu viaje digital.</p>
			<p>¿Listo para dar el próximo paso en tu estrategia de marketing digital? ¡Únete a nosotros mientras exploramos las últimas tendencias, compartimos mejores prácticas y creamos juntos un futuro digital brillante!</p>
		</section>
	</main>
</BaseLayout>
<style>
	h2 {
		font-size: 2rem;
		margin-bottom: 2rem;
	}
	main {
		width: 960px;
	}
	ul {
		display: flex;
		flex-wrap: wrap;
		gap: 2rem;
		list-style-type: none;
		margin: 0;
		padding: 0;
	}
	ul li {
		width: calc(50% - 1rem);
	}
	ul li * {
		text-decoration: none;
		transition: 0.2s ease;
	}
	ul li:first-child {
		width: 100%;
		margin-bottom: 1rem;
		text-align: center;
	}
	ul li:first-child img {
		width: 100%;
	}
	ul li:first-child .title {
		font-size: 2.369rem;
	}
	ul li img {
		margin-bottom: 0.5rem;
		border-radius: 12px;
	}
	ul li a {
		display: block;
	}
	.title {
		margin: 0;
		color: rgb(var(--black));
		line-height: 1;
	}
	.date {
		margin: 0;
		color: rgb(var(--gray));
	}
	ul li a:hover h4,
	ul li a:hover .date {
		color: rgb(var(--accent));
	}
	ul a:hover img {
		box-shadow: var(--box-shadow);
	}
	@media (max-width: 720px) {
		ul {
			gap: 0.5em;
		}
		ul li {
			width: 100%;
			text-align: center;
		}
		ul li:first-child {
			margin-bottom: 0;
		}
		ul li:first-child .title {
			font-size: 1.563em;
		}
	}
</style>
