---
import FormattedDate from "../components/FormattedDate.astro";
import { BASE_URL, CHANNELS } from "@src/consts";
import BaseLayout from "@layouts/BaseLayout.astro";
import ShareButton from "@components/ShareButton.astro";

const {
	blogPath,
	description,
	headerText,
	heroImage,
	pubDate,
	title,
	updatedDate,
	slug,
	ogImage,
} = Astro.props;

const domain = Astro.site;

const articleUrl = `${domain?.origin}${blogPath}/${slug}/`;
const articleSource = "shan.lat";
const channelsKeys = Object.keys(CHANNELS);
---

<BaseLayout
	blogPath={blogPath}
	description={description}
	headerText={headerText}
	image={ogImage}
	title={title}
	withHeader
>
	<main>
		<!-- TODO: Divide this into smaller components -->
		<article>
			<div class="hero-image">
				{
					heroImage && (
						<img
							width={1020}
							height={510}
							src={`${BASE_URL}${heroImage}`}
							alt=""
						/>
					)
				}
			</div>
			<section class="content">
				<div class="title text">
					<p class="date">
						<FormattedDate date={pubDate} />
						{
							updatedDate && (
								<div class="last-updated-on">
									Last updated on <FormattedDate date={updatedDate} />
								</div>
							)
						}
					</p>
					<!-- TODO: Add subtitle so the title doesn´t appear so long -->
					<h1 class="post-title">{title}</h1>
				</div>
				<div class="share">
					<p class="label">Comparte:</p>
					{
						channelsKeys.map((channel) => (
							<ShareButton
								channel={channel}
								articleSource={articleSource}
								articleUrl={articleUrl}
								description={description}
								title={title}
							/>
						))
					}
				</div>
				<div class="text">
					<slot />
				</div>
			</section>
		</article>
	</main>
</BaseLayout>
<style>
	.share {
		align-items: center;
		backdrop-filter: blur(5px);
		background-color: var(--translucid-light-background);
		border-radius: calc(2 * var(--space));
		display: flex;
		flex-flow: row nowrap;
		margin: 0 auto;
		max-width: var(--share-container-max-width);
		padding: calc(var(--space) / 2);
		position: sticky;
		top: 0;
		width: max-content;
		z-index: 1;
	}
	.date,
	.label {
		border-radius: calc(var(--space) / 2);
		max-width: calc(7 * var(--space));
	}

	.date {
		backdrop-filter: blur(5px);
		margin: calc(var(--space) / 2) auto;
	}

	.label {
		font-weight: 700;
		margin: 0 calc(var(--space) / 2) 0 0;
	}

	.hero-image img {
		border-radius: calc(4 * var(--space));
		margin: 0 auto;
		max-height: 300px;
		width: auto;
	}

	.text {
		margin: 0 auto;
	}

	.title {
		background-image: linear-gradient(
			180deg,
			rgba(100%, 100%, 100%, 0) 0%,
			var(--light-background) 100%
		);
		padding-top: calc(2 * var(--space));
		position: relative;
	}
	.date {
		text-align: center;
	}
	.content {
		margin-top: calc(-7 * var(--space));
	}

	@media screen and (min-width: 900px) {
		.content {
			max-width: 1000px;
		}

		.share {
			background-color: transparent;
			flex-flow: column nowrap;
			margin: calc(-15 * var(--space)) 0 calc(7 * var(--space)) auto;
		}

		.label {
			margin: 0 0 calc(var(--space) / 2);
		}
	}
</style>
