---
import { CHANNELS } from "@src/consts";
import BaseLayout from "@layouts/BaseLayout.astro";
import ShareButton from "@components/ShareButton.astro";
import MailChimpMarketing from "@components/MailChimpMarketing.astro";
import MailChimpDevelopment from "@components/MailChimpDevelopment.astro";
import LinkButton from "@components/LinkButton.astro";
import PostHero from "@components/PostHero.astro";

const {
	author,
	blogPath,
	description,
	headerText,
	heroImage,
	ogImage,
	pubDate,
	slug,
	subtitle,
	title,
	updatedDate,
} = Astro.props;

const isMarketing = blogPath === "/marketing-digital";
const isDevelopment = blogPath === "/desarrollo-de-software";

const domain = Astro.site;

const articleUrl = `${domain?.origin}${blogPath}/${slug}/`;
const articleSource = "shan.lat";
const channelsKeys = Object.keys(CHANNELS);
---

<BaseLayout
	author={author}
	blogPath={blogPath}
	description={description}
	headerText={headerText}
	image={ogImage}
	pubDate={pubDate}
	title={`${title}: ${subtitle}`}
	withHeader
>
	<main>
		<article>
			<PostHero
				heroImage={heroImage}
				pubDate={pubDate}
				updatedDate={updatedDate}
				title={title}
				subtitle={subtitle}
			/>
			<div class="grid">
				<div class="sidebar">
					<div class="share">
						<p class="label">Comparte:</p>
						<div class="share-buttons">
							{
								channelsKeys.map((channel) => (
									<ShareButton
										channel={channel}
										articleSource={articleSource}
										articleUrl={articleUrl}
										description={description}
										title={title}
									/>
								))
							}
						</div>
					</div>
					<div class="subscribe">
						<p class="label">¿Quieres más?</p>
						<LinkButton href="#subscribe-form" text="Suscríbete" />
					</div>
				</div>
				<section class="content">
					<div class="text">
						<slot />
					</div>
				</section>
				<div class="subscribe-form" id="subscribe-form">
					{
						isDevelopment && (
							<MailChimpDevelopment
								title="¿Te gustó este artículo?"
								text="¡Suscribete y no te pierdas mis próximos artículos sobre desarrollo de software!"
							/>
						)
					}
					{
						isMarketing && (
							<MailChimpMarketing
								title="¿Te gustó este artículo?"
								text="¡Suscríbete y no te pierdas mis próximos artículos de marketing digital!"
							/>
						)
					}
				</div>
			</div>
		</article>
		<style>
			.sidebar {
				backdrop-filter: blur(5px);
				background-color: var(--translucid-light-background);
				border-radius: 0 0 calc(1.5 * var(--space)) calc(1.5 * var(--space));
				display: flex;
				margin: var(--space) auto 0;
				max-width: max-content;
				padding: 0 calc(0.25 * var(--space));
				position: sticky;
				top: calc(-1 * var(--space));
			}

			.share {
				margin-right: var(--space);
			}
			.share-buttons {
				display: flex;
				flex-flow: row nowrap;
				padding: calc(var(--space) / 2) 0;
				width: max-content;
			}

			.text {
				margin: 0 auto;
			}

			.subscribe {
				align-items: center;
				display: flex;
				flex-flow: column nowrap;
			}

			.label {
				font-weight: 700;
				margin: 0;
				padding: 0 var(--space);
				text-align: center;
			}

			@media screen and (min-width: 1090px) {
				.grid {
					align-items: start;
					display: grid;
					grid-template-columns: var(--text-max-width) 400px;
					grid-template-rows: calc(5 * var(--space)) 1fr;
					justify-content: center;
				}
				.sidebar {
					background-color: transparent;
					grid-column: 2 / 3;
					grid-row: 1 / 3;
					margin: var(--space) 0 0;
					padding: 0 var(--space);
					top: 0;
				}

				.share {
					align-items: center;
					display: flex;
					flex-flow: row nowrap;
					margin: 0;
				}

				.label {
					padding-left: 0;
				}

				.content {
					grid-column: 1;
					grid-row: 1 / 3;
				}
				.subscribe {
					display: none;
				}

				.subscribe-form {
					grid-column: 2 / 3;
					grid-row: 2;
					position: sticky;
					top: calc(4 * var(--space));
				}
			}
		</style>
	</main></BaseLayout
>
