---
import FormattedDate from "../components/FormattedDate.astro";
import { BASE_URL } from "../consts";
import BaseLayout from "./BaseLayout.astro";

const {
	blogPath,
	description,
	headerText,
	heroImage,
	pubDate,
	title,
	updatedDate,
} = Astro.props;
---

<BaseLayout
	headerText={headerText}
	blogPath={blogPath}
	title={title}
	description={description}
	withHeader
>
	<main>
		<article>
			<div class="hero-image">
				{
					heroImage && (
						<img
							width={1020}
							height={510}
							src={`${BASE_URL}${heroImage}`}
							alt=""
						/>
					)
				}
			</div>
			<section class="text">
				<div class="title">
					<p class="date">
						<FormattedDate date={pubDate} />
						{
							updatedDate && (
								<div class="last-updated-on">
									Last updated on <FormattedDate date={updatedDate} />
								</div>
							)
						}
					</p>
					<h1 class="post-title">{title}</h1>
				</div>
				<slot />
			</section>
		</article>
	</main>
</BaseLayout>
<style>
	.hero-image img {
		max-height: 300px;
		margin: 0 auto;
		width: auto;
		border-radius: calc(4 * var(--space));
	}
	.title {
		position: relative;
		background-image: linear-gradient(
			180deg,
			rgba(100%, 100%, 100%, 0) 0%,
			var(--light-background) 100%
		);
		padding-top: calc(2 * var(--space));
	}
	.date {
		margin: 0;
		text-align: center;
	}
	.text {
		margin-top: calc(-7 * var(--space));
	}
</style>
